body {
    text-align: center;
    background-color: #ffe0b9;
}

.hidden {
    display: none;
}

h1 {
    color: rgb(209, 153, 74);
    font-size: 29pt;
}

p {
    color: rgb(52, 94, 130);
    font-size: 15pt;
}

#container {
    background-color: #d1cfff;
    padding: 20px;
    width: 550px;
    height: 330px;
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
}

.mode-button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    width: 110px;
    font-size: 14px;
    background-color: #d1ffd4;
    color: rgb(148, 92, 92);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.mode-button:hover {
    background-color: #b5faba;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.option-button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 120px;
    margin: 5px;
    font-size: 12pt;
    background-color: #e7ff88;
    color: rgb(148, 92, 92);
    text-align: center;
}

.option-button:hover {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    background-color: #e1ff69;
}

#home-button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    width: 110px;
    background-color: #d1ffd4;
    color: rgb(148, 92, 92);
}

#home-btn {
    padding: 20px;
    border-radius: 10px;
    border: none;
    padding-top: -5px;
    padding-bottom: -5px;
    height: auto;
    width: 80px;
    background-color: #d1ffd4;
    color: rgb(148, 92, 92);
}

#next-button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    padding-top: -5px;
    padding-bottom: -5px;
    height: auto;
    width: 80px;
    background-color: #d1ffd4;
    color: rgb(148, 92, 92);
}

#fact {
    font-weight: normal;
}